.cart
    height: 100vh
    &__wrapper
        &__container
            background-color: $lightColor
            padding: 220px 110px 50px 110px
            font-family: "Unbounded", sans-serif
    &__item
        justify-content: space-between
        padding: 30px 20px
        background-color: #fff
        display: flex
        align-items: center
        margin-bottom: 40px
        &__empy
            display: flex
            justify-content: center
        &__title
            display: flex
            justify-content: space-between
            border-bottom: 3px solid $grayColor
            padding: 0 20px 0 20px
            margin-bottom: 30px
            &>div>div
                height: auto
        &__icon
            width: 100px
            height: 100px
            margin-right: 50px
            &>img
                width: 100%
                height: 100%
        &__name
            width: 300px
            display: flex
            justify-content: center
            font-size: 25px
        &__count
            width: 300px
            display: flex
            justify-content: center
        &__price
            width: 300px
            display: flex
            justify-content: center
        &__block
            &__1
                align-items: center
                display: flex
            &__2
                align-items: center
                display: flex
    &__final-price
        display: flex
        justify-content: flex-end
        margin-bottom: 40px
        font-size: 19px
        &>p
            margin-right: 20px
    &__btn-buy
        display: flex
        justify-content: center
        cursor: pointer
        width: 230px
        padding: 30px 30px
        color: $lightColor
        background-color: $darkColor
        font-size: 19px
        &__wrapper
            display: flex
            justify-content: flex-end
.modal
    &__window
        display: none
        font-family: "Unbounded", sans-serif
        position: absolute
        width: 500px
        height: 300px
        top: 15%
        left: 35%
        background-color: #FFF
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
        box-sizing: border-box
        &__message
            display: flex
            width:100%
            height:100%
            &__text
                display: flex
                width:100%
                justify-content: center
                align-items: center
            &__icon
                display: flex
                justify-content: center
                align-items: center
                &__seccess
                    width: 55px
                    height: 55px
                    display: none
                    &>img
                        width:100%
                        height: 100%
                &__warning
                    width: 55px
                    height: 55px
                    display: none
                    &>img
                        width:100%
                        height: 100%
        &__wrapper
            display: flex
            flex-direction: column
            align-items: flex-end
            padding: 20px
            height:100%
            box-sizing: border-box
        &__exit
            cursor: pointer
            width: 35px
            height: 35px
            display: flex
            justify-content: flex-end
            &>img
                display: block
                width: 100%
                height: 100%
