.catalog
    &__title
        font-size: 32px
        color: $redColor
        margin-bottom: 40px
    &__wrapper
        box-shadow: border-box
        padding: 220px 80px 50px 80px
        font-family: "Unbounded", sans-serif
        background-color: $lightColor
        flex-wrap: wrap
    &__cart
        padding: 15px 10px
        display: flex
        flex-direction: column
        align-items: center
        background-color: #FFF
        text-align: center
        width: 300px
        margin-bottom: 20px
        cursor: pointer
        box-sizing: border-box
        transition-property: all
        transition-duration: .3s
        &:hover
            box-shadow: 5px 5px 15px black
        &__wrapper
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        &__icon
            margin-bottom: 20px
            width: 100%
            height: 300px
        &__name
            font-size: 21px
            margin-bottom: 15px
        &__country
            font-size: 21px
            margin-bottom: 15px
        &__price
            font-size: 21px
    &__btn
        text-align: center
        width: 30px
        color: $darkColor
        text-decoration: none
        margin-right: 10px
        padding: 5px 5px
        border: 3px solid $darkColor
        box-sizing: border-box
        border-radius: 20%
        display: block
        &-active
            background-color: $darkColor
            color: $lightColor
            padding: 5px 5px
            border-radius: 20%
        &__skip
            text-align: center
            width: 30px
            color: $darkColor
            text-decoration: none
            margin-right: 10px
            padding: 5px 5px
            box-sizing: border-box
            display: block
        &__wrapper
            display: flex
            justify-content: end
    &__filter
        &__title
            &>h2
                font-size: 32px
        &__line
            width: 100%
            border-bottom: 3px solid $darkColor
        &__filter
            width: 100%
            height: 100%
            padding: 30px
            color: $grayColor
            font-size: 19px
            box-sizing: border-box
            border-radius: 5px
            background-color: rgba(0,0,0, .5)
        &__categories
            &__wrapper
                display: flex
                overflow: hidden
                margin-bottom: 30px
            &__cart
                width: 250px
                height: 150px
                margin-right: 20px
                cursor: pointer
                &:last-child
                    margin-right: 0
                &__btn
                    width: 20px
                    height: 20px
                    border-radius: 50%
                    background-color: $darkColor
                    &-active
                        width: 20px
                        height: 20px
                        border-radius: 50%
                        background-color: $redColor
                    &__wrapper
                        display: flex
                        justify-content: center
                        width: 100%
                        margin-bottom: 30px
                    &__container
                        width: 250px
                        display: flex
                        justify-content: center
        &__comboBox
            margin-bottom: 30px
            display: flex
            justify-content: space-between
            &__wrapper
                display: flex
                align-items: center
            &__title
                margin-right: 5px
            &__container
                padding: 10px 10px
            &__btn
                &__start
                    display: flex
                    justify-content: center
                    align-items: center
                    border: 3px solid $darkColor
                    width: 250px
                    cursor: pointer